body {
    background-color: white;
    margin: 0px;
    font-size: 16px;
    display: flex;
}

h1 {
	text-align: center;
	margin-bottom: 80px;
	font-size: 2.5em;
}

img {
	width: 48px;
	height: 48px;
}

.centerImage {
	display: block;
	margin: auto;
}

.hidden {
	display: none!important;
}

.middle {
	vertical-align: middle;
}

.center {
	display: block;
	margin: auto;
}

.button {
	background: white;
	color: #e90649;
	font-weight: bold;
	border: solid 1px #e90649;
	border-radius: 6px;
}

.button:hover {
	background: #e90649;
	color: white;
}

.button:active {
	filter: brightness(75%);
}

.button-important {
	padding: 16px;
	box-shadow: 0px 0px 8px black;
}

#sidebar {
	background-color: #444844;
  	overflow: auto;
  	flex-grow: 1;
  	z-index: 10;
  	position: fixed;
  	height: 100%;
  	width: 5vw;
}

#sidebar img {
	display: block;
  	width: 60%;
  	height: auto;
  	margin: 32px auto 96px auto;
  	filter: brightness(0) invert(1);
}

#sidebar img:hover {
  	filter: none;
}

#content {
	position: absolute;
	right: 0px;
	width: 95vw;
	height: 100%;
}

.filtres {
	background: #545854;
	padding: 8px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.filtres div {
	flex-grow: 1;
	margin: 16px;
}

.filtres div > *{
	margin: auto;
}

.tri, .tri tr, .tri td {
	border: 1px solid #e90649;
	border-collapse: collapse;
}

.tri td label {
	display: block;
	margin: 4px;
	color: #e90649;
}

.tri td label:hover {
	background: #e90649;
	color: white;
	border: 4px solid #e90649;
	margin: 0px;
}

.tri td label:active {
	filter: brightness(75%);
}

.tri input[type="radio"] {
	opacity: 0.01;
  	z-index: 100;
  	position: absolute;
}

.tri input[type="radio"]:checked+label {
	background: #e90649;
	color: white;
	border: 4px solid #e90649;
	margin: 0px;
}

.tri tr {
	background: #FFFFFF;
}

.tri td {
	padding: 0px;
}

.echeance .button {
	width: 100%
}

.listeTaches {
	list-style-type: none;
	padding: 0px;
	display: block;
	margin: auto;
	width: 95%;
}

.listeTaches .tache {
	border-bottom: solid #CCCCCC 2px;
	z-index: 1;
}

.listeTaches .tache:hover, .listeTaches .tache-active {
	position: relative;
	box-shadow: 0px 0px 4px black;
	z-index: 2;
}

.listeTaches table {
	table-layout:fixed;
	width : 100%;
}

.listeTaches h2 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.listeTaches .tache:nth-child(2n) {
	background-color: #F9F9F9;
}

.listeTaches ul {
	list-style-type: none;
}

.listeTaches .right-panel {
    text-align: left;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  body {
  	flex-direction: column-reverse;
  	font-size: 12px;
  }
  
  #sidebar {
  	position: initial;
    width: 100%;
    height: 20vh;
    display: inline-flex;
    align-items: center;
  }
  
  #sidebar img {
  	height: 64px;
  	width: 40%;
  	margin: 0 auto;
  }
  
  #sidebar a {
    flex: 1 1 auto;
  }
  
  #content {
  	position: initial;
  	height: 80vh;
  	width: 100vw;
  	overflow: auto;
	flex-grow: 1;
  }
  
  h1 {
  	margin-bottom: 20px;
  }
  
  	.filtres {
		display: none;
	}
  
  .listeTaches {
	width: 100%;
  }
}