{# templates/main.html.twig #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div {{ react_component('Liste', { 'liste_taches': liste_taches}) }}></div>
{% endblock %}